@import "tailwindcss";

html {
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

:root {
    /* Colors */
    --color-white: #FFFFFF;
    --color-gray: #4B5563;
    --light-blue: #C3D9FF;
    --dark-blue-title: #1C2E5D;
    --color-blue: #2563EB;
    --Color-blue-709CFF: #709CFF;
    --light-blue-2: #A8C4FA;
    
    /* Shadows */
    --shadow-blue: 8px 8px 22px #2563EB;

    /* Borders */
    --border-black: #000000;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out forwards;
}