@import "tailwindcss";

html {
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

:root {
    /* Colors */
    --color-white: #FFFFFF;
    --color-gray: #4B5563;
    --light-blue: #C3D9FF;
    --dark-blue-title: #1C2E5D;
    --color-blue: #2586d5;
    --color-blue-2563EB: #2563EB;
    --Color-blue-709CFF: #709CFF;
    --light-blue-2: #A8C4FA;
    --dark-blue-2: #5268A1;
    --color-blue-2: #0844C8;

    /* Shadows */
    --shadow-blue: 8px 8px 22px #2563EB;
    --shadow-blue-70: #2564eb97;
    
    /* Borders */
    --border-black: #000000;
    
    /* Hovers */
    --hover-light-blue: #82abff;
    --hover-button: #274285;
    
    /* HC */
    /* Backgrounds */
    --background: #edefef;
    --background-white: #ffffff;
    --background-linear: linear-gradient(90deg, #0077c8 34%, #009BA6 62%);
    
    /* Colors */
    --color-active: #0175C2;
    --color-blue-0077C8: #0077C8;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-green: #169DA6;
    --color-grey: #616161;
    --color-grey-1e2939 : #1e2939;
    --color-grey-818181: rgba(129, 129, 129, 0.2);
    --color-blue-1D509F: #1D509F;
    --color-blue-1277BD: #1277BD;
    --color-blue-82abff: #82abff;
    --color-blue-4383B4: #4383B4;
    --color-blue-428BCA: #428BCA;
    --color-blue-D9EDF7: #D9EDF7;
    --color-blue-31708F: #31708F;
    --color-blue-2563EB: #2563EB;
    --color-blue-1CB1B1: #1CB1B1;
    --color-blue-EAF3FC: #EAF3FC;
    --color-blue-C3D9FF: rgba(195, 217, 255, .2);
    --color-red: #fb2c36; 
    --color-orange: #FF5722; 
    --color-yellow: #FFC107; 
    --color-green: #12d740 ; 
    --color-blue-emoji: #1490e3; 
    --color-white-emoji: #453b3b81; 

    /* Components */
    --border-line: #08080877;
    --color-text-menu: #3A3A3A;
    --pdf-color: #07A0A8;

    /* Hovers */
    --color-black-04: rgba(0, 0, 0, 0.1);
    --color-black-06: rgba(0, 0, 0, 0.6);
    --color-green-hover: rgba(7, 160, 168, 0.164);
    --color-white-button-hover: rgba(255, 255, 255, 0.3);
    --color-white-04: rgba(255, 255, 255, 0.4);
    --color-white-075: rgba(255, 255, 255, 0.75);
    --color-white-placeholder-hover: rgba(255, 255, 255, 0.6);
    --color-grey-hover: #b0b0b0;
    --color-grey-hover-2: #b0b0b054;
    --color-blue-hover: #0991eb26;
    --color-cyan-hover: #E9F7F8;

    /* Shadows */
     --shadow-black-03: rgba(0, 0, 0, 0.3);
}

/* Backgrounds Lineares */
.bg-background-linear {
  background: var(--background-linear);
}

/* Backdrop do Modal */

.dialog-modal::backdrop {
  background-color: var(--color-black-06);
}

/* Fontes */
.font-julius {
  font-family: 'Julius Sans One', sans-serif;
}

.font-imprima {
  font-family: 'Imprima', sans-serif;
}

/* Barra de Rolagem */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #709bffa2;
}

body::-webkit-scrollbar-thumb {
  background: var(--color-blue);
  border-radius: 20px;
}

/* Animações */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-up {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out forwards;
}

.animate-fade-in-up {
  animation: fade-in-up 0.8s ease-out forwards;
}