@import "tailwindcss";

html {
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

:root {
    /* Colors */
    --color-white: #FFFFFF;
    --color-gray: #4B5563;
    --light-blue: #C3D9FF;
    --dark-blue-title: #1C2E5D;
    --color-blue: #2563EB;
    --Color-blue-709CFF: #709CFF;
    --light-blue-2: #A8C4FA;
    
    /* Shadows */
    --shadow-blue: 8px 8px 22px #2563EB;
    --shadow-blue-70: #2564eb97;

    /* Borders */
    --border-black: #000000;

    /* Hovers */
    --hover-light-blue: #82abff;
    --hover-button: #274285;
}

/* Barra de Rolagem */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--light-blue);
}

body::-webkit-scrollbar-thumb {
  background: var(--color-blue);
  border-radius: 20px;
}

/* Animações */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-up {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out forwards;
}

.animate-fade-in-up {
  animation: fade-in-up 0.8s ease-out forwards;
}