@import "tailwindcss";

html {
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

:root {
    /* Colors */
    --color-white: #FFFFFF;
    --color-gray: #4B5563;
    --light-blue: #C3D9FF;
    --dark-blue-title: #1C2E5D;
    --color-blue: #2563EB;
    --Color-blue-709CFF: #709CFF;
    --light-blue-2: #A8C4FA;
    --dark-blue-2: #5268A1;
    --color-blue-2: #0844C8;

    /* Shadows */
    --shadow-blue: 8px 8px 22px #2563EB;
    --shadow-blue-70: #2564eb97;
    
    /* Borders */
    --border-black: #000000;
    
    /* Hovers */
    --hover-light-blue: #82abff;
    --hover-button: #274285;
    
    /* HC */
    /* Backgrounds */
    --background: #edefef;
    --background-white: #ffffff;
    --background-linear: linear-gradient(90deg, #0077c8 34%, #009BA6 62%);
    
    /* Colors */
    --color-active: #0175C2;
    --color-blue: #0077C8;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-green: #169DA6;
    --color-grey: #616161;
    --color-blue-1D509F: #1D509F;
    --color-blue-1277BD: #1277BD;
    --color-blue-82abff: #82abff;
    

    /* Components */
    --border-line: #08080877;
    --color-text-menu: #3A3A3A;
    --pdf-color: #07A0A8;

    /* Hovers */
    --color-black-04: rgba(0, 0, 0, 0.1);
    --color-black-06: rgba(0, 0, 0, 0.6);
    --color-green-hover: rgba(7, 160, 168, 0.164);
    --color-white-button-hover: rgba(255, 255, 255, 0.3);
    --color-white-placeholder-hover: rgba(255, 255, 255, 0.6);
    --color-grey-hover: #b0b0b0;

    /* Shadows */
     --shadow-black-03: rgba(0, 0, 0, 0.3);
}

/* Backgrounds Lineares */
.bg-background-linear {
  background: var(--background-linear);
}

/* Backdrop do Modal */

.dialog-modal::backdrop {
  background-color: var(--color-black-06);
}

/* Fontes */
.font-julius {
  font-family: 'Julius Sans One', sans-serif;
}

.font-imprima {
  font-family: 'Imprima', sans-serif;
}

/* Barra de Rolagem */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #709bffa2;
}

body::-webkit-scrollbar-thumb {
  background: var(--color-blue);
  border-radius: 20px;
}

/* Animações */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-up {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out forwards;
}

.animate-fade-in-up {
  animation: fade-in-up 0.8s ease-out forwards;
}